@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Google Sans Code", monospace;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  background-color: #03030f;
  color: #e6f8ff;
}

#root {
  min-height: 100%;
}

*::selection {
  background: rgba(99, 255, 210, 0.35);
  color: #051029;
}